<table class="table">
    <tr>
      <th><%= sortable "start","Date",@warrior.id %></th>
      <th><%= "Cabin" %></th>
      <th><%= "Time" %></th>
      <th><%= sortable "total","Hours Prayed" ,@warrior.id%></th>
      <th></th>
    </tr>
    <% for session in @sessions %>
      <tr>
        <td><%= session.start.to_date.to_s(:long) %></td>
        <td><%= session.cabin.cabin_no %></td>
        <td><%= raw(pretty_time_from_to(session))  %></td>
        <td><%= pretty_hours(session.total) unless session.total.nil? %></td>
        <td><%= link_to "View",session_path(session),:class=>"btn btn-mini" %></td>
      </tr>
    <%end%>
</table>
<%= will_paginate @sessions,:renderer => BootstrapPagination::Rails,:params=>{:warrior=>@warrior.id} %>
