<div class="page-header"><h2>Prayer Warriors</h2></div>
<div class="row">
<div class="span4">
<h4>View Prayer Warriors List:</h4>
<br>
<%= form_tag warriors_list_path, :class=>"form form-inline ",:method=>"get" do -%>
      <p>
      <select  data-placeholder="Choose Region" style="width:250px"  name="region" class="chzn-select">
        <option value=""></option>
        <% for region in @regions %>
          <%= raw("<option value='#{region.id}'>#{region.name}</option>") %>
        <%end%>
      </select>
      </p>
      <%= submit_tag "View Prayer Warriors", :class=>"btn" %>
<% end %>
</div>
<div class="span4 pull-right">
<h4>Search Prayer Warriors:</h4>
<br>
<%= form_tag url_for(:controller=>:warriors,:action=>:list), :method => 'get',:class=>"form-search",:id=>"warriors_search_index" do %>
  <p>
    <%= text_field_tag :search, params[:search],:class=>"input",:placeholder=>"Name / Phone / ID" %></p>
    <%= submit_tag "Search", :name => nil,:class=>"btn" %>

<% end %>

</div>
</div>
<hr>
<div class="row">
<div class="span6 offset2">
<h5>Prayer Warriors Scheduled to pray in coming days:</h5>
<div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#today" data-toggle="tab">Today</a></li>
        <li><a href="#tomorrow" data-toggle="tab">Tomorrow</a></li>
        <li><a href="#day_after" data-toggle="tab">Day after Tomorrow</a></li>
      </ul>
      <div class="tab-content" id="sessions_tabs">
        <div class="tab-pane active" id="today">
          <%= render :partial=>'warriors',:locals=>{:warriors=>@today} %>
        </div>
        <div class="tab-pane" id="tomorrow">
          <%= render :partial=>'warriors',:locals=>{:warriors=>@tomorrow} %>
        </div>
        <div class="tab-pane" id="day_after">
          <%= render :partial=>'warriors',:locals=>{:warriors=>@day_after} %>
        </div>
      </div>
    </div>
</div>
</div>
<hr> <div class="row">
<div class="span6 offset2">
<%= link_to "New Prayer Warrior",
            new_warrior_path,
            :class => 'btn btn btn-primary pull-left' %> &nbsp;&nbsp;
<%= link_to "Regional Statistics",
            warriors_regional_stats_path,
            :class => 'btn ' %>
</div></div>

<br>
<br>
<br>
