<div class="page-header"><h2>Prayer Warriors</h2></div>
<div class="row">
<div class="span3">
<h4>View Prayer Warriors List:</h4>
<br>
<%= form_tag warriors_list_path, :class=>"form form-inline ",:method=>"get" do -%>
      <p>
      <select  data-placeholder="Choose Region" style="width:250px"  name="region" class="chzn-select">
        <option value=""></option>
        <% for region in @regions %>
          <%= raw("<option value='#{region.id}'>#{region.name}</option>") %>
        <%end%>
      </select>
      </p>
      <%= submit_tag "View Prayer Warriors", :class=>"btn" %>
<% end %>
</div>
<div class="span3 pull-right">
<h4>Search Prayer Warriors:</h4>
<br>
<%= form_tag url_for(:controller=>:warriors,:action=>:list), :method => 'get',:class=>"form-search",:id=>"warriors_search_index" do %>
  <p>
    <%= text_field_tag :search, params[:search],:class=>"input",:placeholder=>"Name / Phone / ID" %></p>
    <%= submit_tag "Search", :name => nil,:class=>"btn" %>

<% end %>

</div>
</div>

<hr> <div class="row">
<div class="span8">
<%= link_to "New Prayer Warrior",
            new_warrior_path,
            :class => 'btn btn btn-primary pull-left' %> &nbsp;&nbsp;
<%= link_to "Regional Statistics",
            warriors_regional_stats_path,
            :class => 'btn ' %>
</div></div>

<br>
<br>
<br>
